@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --white: var(#fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #141414;
  margin: 1rem auto;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  text-align: center;
  width: 450px;
  background-color: #1f1f1f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.wrapper img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.wrapper h2 {
  color: #fff;
  font-size: 1.5rem;
}
.wrapper span {
  color: #93b043;
  font-size: 0.8rem;
}
.wrapper p {
  color: #fff;
  font-size: 0.8rem;
  margin: 0.5rem;
}
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  gap: 1rem;
  margin-top: 10px;
}
.social-links li {
  background-color: #323232;
  width: 100%;
  border-radius: 0.4rem;
  padding: 12px;
  cursor: pointer;
}
.social-links li a {
  color: #fff;
  font-size: 0.8rem;
}
.social-links li:hover {
  background-color: #93b043;
  color: #141414;
}
